@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');

.nom{
  font-family: 'Berkshire Swash', cursive;
  font-size: 22px;
}
a,button{
  
  font-weight: 200;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#header{
  display: flex;
  justify-content: flex-end;
  align-content: center;


}
.logo{
  width: 190px;
  height: 150px;
  position: absolute;
  cursor: pointer;
}

nav{
  Background:#FABADC;
}
.nav__links{
  list-style: none;
}
.nav__links li a{
  transition: all 0.1s ease 0s;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

body{
  font-family: 'Roboto',sans-serif;
  background-color: #FBEFFB;
}




._blogCard{
  background-color:#FAFAFA;
}
._blogTitle{
  font-weight:bold;
  font-size: 28px;
}
._contentp{
  font-weight:bold;
  font-size: 18px;
}

._contentz{
  font-weight:lighter;
  font-size: 15px;
}

._content input[type="submit"]{
  border:none;
  outline:none;
  height: 35px;
  background: #65d0f0;
  color: #fff;
  font-size: 16px;
  border-radius: 15px;

}
._content input[type="submit"]:hover{
  cursor: pointer;
  background: hsl(194, 79%, 56%);
  color:#fff;

}
._content input{
  width: 100%;
  margin-bottom: 15px;
}

#footer {
  justify-content: space-between;;
  left:0px;
  bottom:0px;
  padding-top:1%;
  padding-left:12% ;
  height: 220px;
  width: 100%;

  color:#fff;

  background:#FABADC;
}


#footer input[type="submit"]{
  border:none;
  outline:none;
  height: 35px;
  width: 200px;
  background: #65d0f0;
  color: #fff;
  font-size: 16px;
  border-radius: 15px;

}
#footer input[type="submit"]:hover{
  cursor: pointer;
  background: hsl(194, 79%, 56%);
  color:#fff;

}
#follow{
  padding-top: 7%;
}

#contacto{
  padding-top: 5%;
}

.fab{
  padding-right:2% ;
  font-size: 30px;
  color: rgb(253, 253, 253);
}

#footer h6{
  font-size: 1x;
}



