@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');

.nom{
  font-family: 'Berkshire Swash', cursive;
  font-size: 22px;
}
a,button{
  
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#header{
  display: flex;
  justify-content: flex-end;
  align-content: center;


}
.logo{
  width: 190px;
  height: 150px;
  position: absolute;
  cursor: pointer;
}

nav{
  Background:#FABADC;
}
.nav__links{
  list-style: none;
}
.nav__links li a{
  transition: all 0.1s ease 0s;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}


#footer {
    justify-content: space-between;;
    left:0px;
    bottom:0px;
    padding-top:1%;
    padding-left:12% ;
    height: 220px;
    width: 100%;
  
    color:#fff;
  
    background:#FABADC;
  }
  
  
  #footer input[type="submit"]{
    border:none;
    outline:none;
    height: 35px;
    width: 200px;
    background: #65d0f0;
    color: #fff;
    font-size: 16px;
    border-radius: 15px;
  
  }
  #footer input[type="submit"]:hover{
    cursor: pointer;
    background: hsl(194, 79%, 56%);
    color:#fff;
  
  }
  #follow{
    padding-top: 7%;
  }
  
  #contacto{
    padding-top: 5%;
  }
  
  .fab{
    padding-right:2% ;
    font-size: 30px;
    color: rgb(253, 253, 253);
  }
  
  #footer h6{
    font-size: 1x;
  }

  .formbox{
    color: #fff;
    width: 320px;
    height: 600px;
    background: #FABADC;
    top: 35%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-35%);
    box-sizing: border-box;
    padding: 2% 30px;
    border-radius: 10px;
}
::placeholder{
    color: #E7E7E7;
}

.formbox p {
    margin:0;
    
    padding: 0;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 500;
}

.formbox input{
    width: 100%;
    margin-bottom: 15px;
}


.formbox input[type="text"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height: 40px;
    color: #1a0012;
    font-size: 15px;

}

.formbox textarea{
    background: #fff;
    height: 200px;
    
}

.formbox input[type="submit"]{
    border:none;
    outline:none;
    height: 35px;
    background: #65d0f0;
    color: #fff;
    font-size: 16px;
    border-radius: 15px;

}


.formbox input[type="submit"]:hover{
    cursor: pointer;
    background: hsl(194, 79%, 56%);
    color:#fff;

}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position:absolute;
    top:-50px;
    left: calc(50% - 50px);
    background: #fff;
}
.formbox h1 {
    margin:0;
    padding: 0 0 15px;
    text-align: center;
    font-size: 18px;
}

.icon1 input[type="text"]{
    padding-right: 3px;
}

.icon1{
    position:relative;
}
.icon1 i{
    position:absolute;
    left:240px;
    top: 10px;
    padding:26px 0px;

}

.icon2 input[type="text"]{
    padding-right: 3px;
}

.icon2{
    position:relative;
}

.icon2 i{
    position:absolute;
    left:240px;
    top: 10px;
    padding:26px 0px;

}
